* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-size: 1rem; 
    margin: 20px;
    padding: 0px;
    color: #333;
    background-color: #f3f3f3;
}


/* ESTILO PARA EL LOGO DE ESTA PAGINA */



/* ESTILO PARA LOS TITULOS DE CADA TyC */
span {
    font-weight: bold;   
}

/* ESTILO PARA CADA TyC */
li  {
    margin: 10px;
}

/* ESTILO PARA EL BOTON A WHATSAPP */
a {
    font-size: large;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}